.screen-container {
    position: relative;
    background-color: var(--color-white);
    top: 25px;
    left: 30%;
    width: 390px;
    height: 852px;
    overflow: auto;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-marko-one);
    text-align: center;
}

.detailedRoom-top-banner {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
    text-align: center;
    color: black;

    background-image: url('/public/bg-3.png');
    background-size: cover;
    background-position: center;
}

.detailedRoom-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.detailedRoom-scrollable-content {
    padding-top: 10px;
    overflow-y: auto;
    height: calc(77.3%);
}

.detailedRoom-checklist-container {
    display: flex;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
}

.checklist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.back-arrow {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; 
    color: black;
}