.screen-container {
    width: 390px;
    height: 844px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #2e367a;
    color: white;
}

.home-scrollable-content {
    padding-top: 10px;
    overflow-y: auto;
    height: calc(70%);
    /* Adjusted height to accommodate top banner and bottom bar */
}

.top-banner {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
    text-align: center;
    color: black;

    background-image: url('/public/background-wide.png');
    background-size: cover;
    background-position: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-icon {
    height: 50px;
    margin-bottom: 10px;
}

.welcome-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    /* Spacing between the welcome header and subheader */
}

.subheader {
    font-size: 16px;
    color: gray;
    /* Adjust the color of the subheader */
}

.bottom-bar {
    position: sticky;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 10px;
    height: 60px; /* Adjusted height to make the bottom bar taller */
    margin-top: -40px; /* Negative margin to expand the bottom bar upward */
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.widget-container {
    /* background-color: rgba(213, 177, 149, .4); */
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust the shadow values as needed */
}

.widget-title {
    text-decoration: none;
    font-weight: bold;
    text-align:left;
    margin-left: 25px;
    margin-bottom: 0rem;
    text-shadow: #555;
}

.icon-wrapper {
    flex: 1;
    text-align: center;
}

.navbar-link {
    text-decoration: none; /* Remove underline */
    color: gray; /* Inherit the color from the parent */
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: black; /* Preserve the color on hover */
}

.icon-subtext {
    font-size: 11px;
}

.full-list-link {
    margin-top: 10px;
    text-align: right;
}

.full-list-link a {
    text-decoration: underline;
    text-align: right;
    color: #007bff;
    font-size: 14px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.list-item-text {
    flex-grow: 1;
    padding-right: 10px;
}

.list-item-image {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    width: 75px; /* Fixed width */
    height: 40px; /* Fixed height */
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-image img {
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: contain;
}

.date-widget-container {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.date-section h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.events-section {
    display: flex;
    flex-direction: column;
}

.event-list-item {
    background-color: #f8f9fa;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.widget-budget-tracker-container{
    display: flex;
    align-items: center;
    font-family: var(--font-marko-one);
}

.budget-start {
    font-size: 15px;
    margin-right: 5px;
}

.budget-end {
    font-size: 15px;
    margin-left: 5px;
}

.plan-widget-currTemp-text{
    align-items: center;
    font-size: 12px;
}

.plan-widget-highLowTemp-text{
    align-items: center;
    font-size: 10px;
    margin-top: -10px;
}
