.screen-container {
    width: 390px;
    height: 844px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    overflow: hidden;
}

.scrollable-content {
    overflow-y: scroll;
    height: calc(73%);
    /* Adjusted height to accommodate top banner and bottom bar */
}

.top-banner {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-icon {
    height: 50px;
    margin-bottom: 10px;
}

.welcome-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    /* Spacing between the welcome header and subheader */
}

.subheader {
    font-size: 16px;
    color: #555;
    /* Adjust the color of the subheader */
}

.bottom-bar {
    position: sticky;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 10px;
    height: 60px; /* Adjusted height to make the bottom bar taller */
    margin-top: -40px; /* Negative margin to expand the bottom bar upward */
    display: flex;
    justify-content: space-evenly;
}

.widget-container {
    background-color: rgba(213, 177, 149, .4);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.widget-title {
    text-decoration: none;
    font-weight: bold;
    text-align:left;
    margin-left: 25px;
    margin-bottom: 0rem;
}

.icon-wrapper {
    flex: 1;
    text-align: center;
}

.navbar-link {
    text-decoration: none; /* Remove underline */
    color: gray; /* Inherit the color from the parent */
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: black; /* Preserve the color on hover */
}

.icon-subtext {
    font-size: 11px;
}

.full-list-link {
    margin-top: 10px;
    text-align: right;
}

.full-list-link a {
    text-decoration: underline;
    text-align: right;
    color: #007bff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.list-item-text {
    flex-grow: 1;
    padding-right: 10px;
}

.list-item-image {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 5px;
    width: 75px;
    height: 40px;
    overflow: hidden;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
  
.list-item-image img {
    
}

.date-widget-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.date-section {
    flex: 1;
}

.events-section {
    flex: 2;
}

.budget-text{
    display: flex;
    justify-content: space-between;
}
.budget-start,.budget-end{
    /* margin-top: -10px; */
    font-size: 15px;
    /* margin-left: -300px; */
}