.navigation-bar-background1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightgray);
  width: 393px;
  height: 60px;
  cursor: pointer;
}
.todo-text2 {
  position: absolute;
  top: 36px;
  left: 0;
  display: inline-block;
  width: 75px;
  height: 18px;
}
.todo-list-icon2 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.plan-text2,
.to-do2 {
  position: absolute;
  width: 75px;
}
.to-do2 {
  top: 6px;
  left: 168px;
  height: 54px;
  opacity: 0.4;
  cursor: pointer;
}
.plan-text2 {
  top: 36px;
  left: 0;
  display: inline-block;
  height: 18px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.calendar-icon2 {
  position: absolute;
  top: 0;
  left: 22px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.to-plan2 {
  position: absolute;
  top: 6px;
  left: 231px;
  width: 75px;
  height: 54px;
}
.purchase-bag-icon2 {
  position: absolute;
  height: 59.26%;
  width: 42.67%;
  top: 0;
  right: 30.67%;
  bottom: 40.74%;
  left: 26.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.purchase2 {
  position: absolute;
  top: 6px;
  left: 93px;
  width: 75px;
  height: 54px;
  opacity: 0.4;
  cursor: pointer;
}
.get-around5 {
  position: absolute;
  top: 36px;
  left: 0;
  display: inline-block;
  width: 83px;
  height: 18px;
}
.map-icon2 {
  position: absolute;
  height: 59.26%;
  width: 38.55%;
  top: 0;
  right: 30.12%;
  bottom: 40.74%;
  left: 31.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.get-around4,
.home-icon2 {
  position: absolute;
  top: 5px;
  left: 306px;
  width: 83px;
  height: 54px;
  opacity: 0.4;
  cursor: pointer;
}
.home-icon2 {
  left: 20px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.navigation-bar2 {
  position: absolute;
  top: 792px;
  left: 0;
  width: 393px;
  height: 60px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray);
  font-family: var(--font-krona-one);
}
.plus-icon2 {
  position: absolute;
  top: 0;
  left: -2px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.add-new-event1 {
  position: absolute;
  top: 4px;
  left: 48px;
  display: flex;
  align-items: center;
  width: 182px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.icon-text {
  position: absolute;
  top: 6px;
  left: 81px;
  width: 230px;
  height: 34px;
}
.add-new-event-button {
  position: absolute;
  top: 742px;
  /* left: calc(50% - 185.5px); */
  left: 1%;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  width: 371px;
  height: 45px;
  cursor: pointer;
  text-align: left;
}
.daydate,
.friday,
.oct-27 {
  position: absolute;
  top: 23px;
  left: 0;
}
.daydate,
.friday {
  top: 0;
  left: 7px;
}
.daydate {
  top: 10px;
  left: 51px;
  width: 66px;
  height: 45px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.event-background {
  position: absolute;
  top: 0;
  left: 6.4px;
  border-radius: var(--br-11xs);
  background-color: var(--color-darksalmon);
  width: 157.3px;
  height: 47px;
}
.event-description1,
.time1 {
  position: absolute;
  top: 0;
  left: 17.9px;
  display: inline-block;
  width: 138.1px;
  height: 16.4px;
}
.time1 {
  top: 28.4px;
}
.color-line-icon1,
.event-3 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  width: 3px;
  height: 50px;
}
.event-3 {
  top: 134px;
  left: 180px;
  width: 163.7px;
  height: 47px;
}
.event-background1 {
  position: absolute;
  top: 0;
  left: 7.6px;
  border-radius: var(--br-11xs);
  background-color: var(--color-cornflowerblue-100);
  width: 157.4px;
  height: 53px;
}
.kitchen-set-up {
  margin: 0;
}
.event-description2,
.time2 {
  position: absolute;
  top: 0;
  left: 21.2px;
  display: inline-block;
  width: 140.8px;
}
.time2 {
  top: 36px;
  width: 133.2px;
}
.color-icon {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  width: 3px;
  height: 56px;
}
.event-2,
.event-background2 {
  position: absolute;
  top: 72px;
  left: 180px;
  width: 165px;
  height: 53px;
}
.event-background2 {
  top: 0;
  left: 7.6px;
  border-radius: var(--br-11xs);
  background-color: rgba(166, 177, 153, 0.75);
  width: 157.4px;
}
.event-description3,
.time3 {
  position: absolute;
  top: 1px;
  left: 21.2px;
  display: inline-block;
  width: 130.2px;
}
.time3 {
  top: 37px;
  width: 128.7px;
}
.color-line-icon2,
.event-1 {
  position: absolute;
  top: -0.5px;
  left: -1.5px;
  width: 3px;
  height: 54px;
}
.event-1 {
  top: 9px;
  left: 180px;
  width: 165px;
  height: 53px;
}
.h-80-l,
.weather-icon {
  position: absolute;
  top: 72px;
  left: 0;
}
.weather-icon {
  top: 0;
  left: 20px;
  width: 69px;
  height: 64px;
}
.second-date-box,
.weather-forecast {
  position: absolute;
  top: 71px;
  left: 31px;
  width: 110px;
  height: 96px;
  font-size: var(--font-size-xl);
}
.second-date-box {
  top: 370px;
  left: 19px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tan);
  width: 356px;
  height: 195px;
  text-align: left;
  font-size: var(--font-size-xs);
  font-family: var(--font-montserrat);
}
.event-background5 {
  position: absolute;
  top: 0;
  left: 7.6px;
  border-radius: var(--br-11xs);
  background-color: var(--color-darkolivegreen);
  width: 157.4px;
  height: 53px;
}
.event-11 {
  position: absolute;
  top: 9px;
  left: 180px;
  width: 165px;
  height: 53px;
  cursor: pointer;
}
.oct-26 {
  position: absolute;
  top: 23px;
  left: 6px;
}
.daydate1,
.thursday {
  position: absolute;
  top: 0;
  left: 0;
}
.daydate1 {
  top: 10px;
  left: 45px;
  width: 83px;
  height: 45px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.first-date-box,
.weather-forecast1 {
  position: absolute;
  top: 71px;
  left: 31px;
  width: 106px;
  height: 96px;
  font-size: var(--font-size-xl);
}
.first-date-box {
  top: 155px;
  left: 19px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tan);
  width: 356px;
  height: 195px;
  text-align: left;
  font-size: var(--font-size-xs);
  font-family: var(--font-montserrat);
}
.view-in-calendar {
  position: absolute;
  top: 14px;
  right: 47px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.calendar-icon3 {
  position: absolute;
  top: 15px;
  left: 21px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.view-in-calendar-box {
  position: absolute;
  top: 85px;
  left: 56px;
  border-radius: var(--br-mini);
  background-color: var(--color-lightblue);
  width: 281px;
  height: 50px;
}
.personalised-greeting-message2 {
  position: absolute;
  top: 25px;
  /* left: calc(50% - 104.5px); */
  left: 6%;
  font-size: var(--font-size-11xl);
}
.prototype-move-in-plan-screen {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  left: 30%;
  height: 852px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-marko-one);
}
