.plus-icon {
  position: relative;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.add-room,
.add-room-icon-text {
  display: flex;
  align-items: center;
}
.add-room {
  position: relative;
  justify-content: center;
  width: 123px;
  flex-shrink: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: -11px;
}
.add-room-icon-text {
  width: 146px;
  height: 34px;
  flex-direction: row;
  justify-content: flex-start;
}
.add-room-button,
.widget-box {
  position: absolute;
  border-radius: var(--br-xl);
  width: 371px;
}
.add-room-button {
  top: 742px;
  left: 0.7%;
  /* left: calc(50% - 185.5px); */
  background-color: var(--color-lightblue);
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 112px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.widget-box {
  top: 29px;
  left: 0;
  background-color: var(--color-tan);
  height: 146px;
}
.circle-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.circle-icon,
.ottoman {
  position: relative;
}
.checklist-item-1,
.checklist-item-2,
.checklist-item-3,
.checklist-item-4,
.checklist-item-5 {
  position: absolute;
  top: 47px;
  left: 151px;
  width: 130px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.checklist-item-1,
.checklist-item-2,
.checklist-item-3,
.checklist-item-4 {
  top: 0;
  width: 152px;
}
.checklist-item-1,
.checklist-item-2,
.checklist-item-3 {
  top: 87px;
  left: 0;
  width: 144px;
  gap: var(--gap-7xs);
}
.checklist-item-1,
.checklist-item-2 {
  top: 44px;
  width: 77px;
}
.checklist-item-1 {
  top: 0;
  width: 91px;
}
.checklist-items {
  position: absolute;
  top: 40px;
  left: 13px;
  width: 302px;
  height: 111px;
}
.view-more-button {
  position: absolute;
  top: calc(50% + 4.5px);
  right: 5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.add-item {
  position: absolute;
  top: 5px;
  left: 253px;
  font-size: var(--font-size-mid);
  text-decoration: underline;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.living-room {
  position: absolute;
  top: 0;
  left: 14px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-marko-one);
}
.customizable-widget-3 {
  position: absolute;
  top: 562px;
  left: 11px;
  width: 371px;
  height: 175px;
  text-align: left;
  font-family: var(--font-montserrat);
}
.widget-box1 {
  position: absolute;
  top: 26px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-tan);
  width: 371px;
  height: 146px;
}
.checklist-item-11,
.checklist-item-21,
.checklist-item-31,
.checklist-item-41,
.checklist-item-51 {
  position: absolute;
  top: 49px;
  left: 151px;
  width: 139px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.checklist-item-11,
.checklist-item-21,
.checklist-item-31,
.checklist-item-41 {
  top: 2px;
  width: 117px;
}
.checklist-item-11,
.checklist-item-21,
.checklist-item-31 {
  top: 87px;
  left: 0;
  width: 145px;
  gap: var(--gap-7xs);
}
.checklist-item-11,
.checklist-item-21 {
  top: 44px;
  width: 122px;
}
.checklist-item-11 {
  top: 0;
  width: 94px;
}
.checklist-items1 {
  position: absolute;
  top: 37px;
  left: 13px;
  width: 290px;
  height: 111px;
}
.view-more-button1 {
  position: absolute;
  top: calc(50% + 3px);
  right: 5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.add-item1 {
  position: absolute;
  top: 2px;
  left: 253px;
  font-size: var(--font-size-mid);
  text-decoration: underline;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.customizable-widget-2 {
  position: absolute;
  top: 378px;
  left: 11px;
  width: 371px;
  height: 172px;
  text-align: left;
  font-family: var(--font-montserrat);
}
.checklist-item-42,
.checklist-item-52 {
  position: absolute;
  top: 47px;
  left: 151px;
  width: 129px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.checklist-item-42 {
  top: 0;
  width: 172px;
}
.checklist-item-32 {
  top: 87px;
  width: 106px;
  cursor: pointer;
}
.checklist-item-12,
.checklist-item-22,
.checklist-item-32 {
  position: absolute;
  left: 0;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.checklist-item-22 {
  top: 44px;
  width: 116px;
  text-align: left;
}
.checklist-item-12 {
  top: 0;
  width: 106px;
  cursor: pointer;
}
.checklist-items2 {
  position: absolute;
  top: 37px;
  left: 13px;
  width: 323px;
  height: 111px;
}
.add-item2 {
  position: absolute;
  top: 2px;
  left: 253px;
  font-size: var(--font-size-mid);
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
.kitchen {
  position: absolute;
  top: 0;
  left: 24px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-marko-one);
}
.customizable-widget-1 {
  position: absolute;
  top: 197px;
  left: 11px;
  width: 371px;
  height: 172px;
  font-family: var(--font-montserrat);
}
.personalised-greeting-message {
  position: absolute;
  top: 25px;
  left: 47px;
  /* left: calc(50% - 153.5px); */
  
  font-size: var(--font-size-11xl);
}
.navigation-bar-background {
  position: absolute;
  top: 792px;
  left: 0;
  background-color: var(--color-lightgray);
  width: 393px;
  height: 65px;
}
.todo-list-icon,
.todo-text {
  position: relative;
  flex-shrink: 0;
}
.todo-list-icon {
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.todo-text {
  display: inline-block;
  width: 75px;
  height: 18px;
}
.to-do {
  position: absolute;
  top: 1px;
  left: 148px;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.4;
  cursor: pointer;
}
.calendar-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.to-plan {
  position: absolute;
  top: 1px;
  left: 211px;
  width: 75px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  opacity: 0.4;
  cursor: pointer;
}
.purchase-bag-icon,
.purchase-text {
  position: relative;
  width: 36px;
  height: 36px;
}
.purchase-text {
  display: inline-block;
  width: 75px;
  height: 18px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.purchase {
  position: absolute;
  top: 1px;
  left: 73px;
  width: 75px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.get-around1,
.map-icon {
  position: relative;
  width: 32px;
  height: 32px;
}
.get-around1 {
  display: inline-block;
  width: 83px;
  height: 18px;
  flex-shrink: 0;
}
.get-around,
.home-icon {
  position: absolute;
  top: 0;
  opacity: 0.4;
  cursor: pointer;
}
.get-around {
  left: 286px;
  width: 83px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.home-icon {
  left: 0;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.navigation-bar {
  position: absolute;
  top: 797px;
  left: 20px;
  width: 369px;
  height: 55px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray);
  font-family: var(--font-krona-one);
}
.overall-budget-tracker {
  position: relative;
  display: inline-block;
  width: 268px;
  height: 17px;
  flex-shrink: 0;
}
.current-level-readout-child {
  top: 18.5px;
  left: 22.3px;
  width: 8.5px;
  height: 5.4px;
  z-index: 0;
}
.current-level-readout-child,
.current-level-readout-item,
.div {
  position: absolute;
  margin: 0 !important;
}
.current-level-readout-item {
  top: 0.8px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #649865;
  width: 52px;
  height: 18.2px;
  z-index: 1;
}
.div {
  top: 3px;
  left: 9.5px;
  z-index: 2;
}
.current-level-readout {
  position: absolute;
  top: 0;
  left: 111px;
  width: 52px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.background-line {
  position: absolute;
  top: 0;
  left: 4.5px;
  border-top: 1px solid #909090;
  box-sizing: border-box;
  width: 230px;
  height: 1px;
}
.foreground-bold-line {
  position: absolute;
  top: -2.5px;
  left: -1.5px;
  width: 145px;
  height: 13px;
}
.budget-slider,
.div1,
.div2 {
  position: absolute;
  top: 8.5px;
  left: 0;
}
.budget-slider,
.div2 {
  left: 209px;
}
.budget-slider {
  top: 27.5px;
  left: 0;
  width: 260px;
  height: 27.5px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.budget-tracker-contents {
  position: relative;
  width: 260px;
  height: 55px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.budget-tracker {
  position: absolute;
  top: 90px;
  left: 63px;
  width: 268px;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
  font-size: var(--font-size-mid);
}
.prototype-purchase-screen {
  position: relative;
  background-color: var(--color-white);
  left: 30%;
  width: 100%;
  height: 852px;
  overflow: scroll;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-marko-one);
}

.budget-tracker-container {
  position: relative;
  width: 15%;
  left: 10%;
  top: 15%;
}








.screen-container {
  position: relative;
  background-color: var(--color-white);
  top: 25px;
  left: 30%;
  width: 390px;
  height: 852px;
  overflow: auto;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-marko-one);
  text-align: center;
}

.screen-header {
  font-size: var(--font-size-11xl);
}

.room-header {
  font-size: large;
  text-align: start;
  padding-left: 10px;
}

.room-container {
  margin-top: 50px;
}

.room-widget-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: auto;
  border-radius: var(--br-xl);
  background-color: var(--color-tan);
  width: 371px;
  height: auto;
  padding: 16px;
}

.left-section {
  width: calc(100% - 120px); /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-section {
  width: 100px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-item-button,
.view-full-list-button {
  margin-top: 8px;
  /* Add additional styling as needed */
}

.item-preview {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  list-style-type:circle;
  margin: 10px;
}
