.todo-top-banner {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
    text-align: center;
    color: black;

    background-image: url('/public/bg-3.png');
    background-size: cover;
    background-position: center;
}

.todo-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.todo-scrollable-content {
    overflow-y: auto;
    height: calc(75%);
    margin: 20px;
    /* Adjusted height to accommodate top banner and bottom bar */
}

.accordion-button {
    background-color: rgb(208, 208, 208) !important;
    font-size: 20px;
}

.accordion-body {
    background-color: white !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #212529;
}

.suggestions-list{
    margin-top: 25px;
}

.suggestion-2{
    margin-top: 15px;
}

.sug1-button{
    background-color: white;
    color: black;
}
.sug1-button:hover{
    background-color: lightgray;
    color: black;
}

.sug2-button{
    width: 100%;
    background-color: white;
    color: black;
}
.sug2-button:hover{
    background-color: lightgray;
    color: black;
}