
@import url("https://fonts.googleapis.com/css2?family=Marko+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-marko-one: "Marko One";
  --font-krona-one: "Krona One";
  --font-montserrat: Montserrat;
  --font-inherit: inherit;
  --font-philosopher: Philosopher;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-3xs: 10px;
  --font-size-mid: 17px;
  --font-size-2xs: 11px;
  --font-size-11xl: 30px;
  --font-size-2xl: 21px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-4xl: 23px;
  --font-size-mini: 15px;
  --font-size-xs: 12px;
  --font-size-6xl: 25px;
  --font-size-smi: 13px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.7);
  --color-lightgray: #d5d5d5;
  --color-tan-100: #d5b195;
  --color-tan: rgba(213, 177, 149, 0.4);
  --color-lightblue: #a7c7d7;
  --color-royalblue: #3366cc;
  --color-indianred: #b64747;
  --color-darkolivegreen: rgba(57, 107, 62, 0.4);
  --color-cornflowerblue-100: rgba(149, 147, 212, 0.4);
  --color-darksalmon: rgba(212, 118, 94, 0.4);
  --color-dimgray: rgba(115, 93, 66, 0.7);

  /* Gaps */
  --gap-9xs: 4px;
  --gap-7xs: 6px;
  --gap-5xs: 8px;
  --gap-lg: 18px;
  --gap-8xs: 5px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-8xl: 27px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-10xs: 3px;
  --br-mini: 15px;
  --br-11xs: 2px;
}
